body {
    background-color: #cc0e74;
}

.flex-container {
    display: flex;
}

/* no need to add this as default is row */
.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}